USE [master]
GO

CREATE DATABASE [Bank]

ALTER DATABASE [Bank] SET COMPATIBILITY_LEVEL = 130
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
USE [Bank]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PaymentNumber] [nvarchar](17) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [PaymentNumber]) VALUES (1, N'Guy', N'Gilbert', N'5645322227179083')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [PaymentNumber]) VALUES (2, N'Kevin', N'Brown', N'4417937746396076')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [PaymentNumber]) VALUES (3, N'Vera', N'Nelson', N'1234567746396076')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
USE [master]
GO
